/*socialmedia*/
#socialmedia_main {
    border: var(--primary-color) solid 2px;
    width: 86rem;
    margin: 2.5rem;
    margin-top: 0;
    padding: 1rem;
}
@media (width <= 85rem) {
    #socialmedia_main {
        width: calc(100% - 5rem - 2rem);
    }
}
#socialmedia_head_text {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
#socialmedia_container {
    display: flex;
    flex-direction: column;
}
.socialmedia_content {
    background-color: var(--content-bg-color);
    font-size: 18px;
    padding: 0.6rem;
    padding-left: 2px;
    border-bottom: var(--easy-select-color) solid 1px;
    color: var(--contrast-color);
}
.socialmedia_content:hover {
    background-color: var(--primary-select-color);
    color: var(--contrast-select-color);
    text-decoration: underline;
}

/*contact us*/
#contact_us {
    background-color: var(--content-bg-color);
    width: 80rem;
    margin: 2.5rem;
    margin-top: 0;
    padding: 4rem;
    display: flex;
    justify-content: center;
}
@media (width <= 85rem) {
    #contact_us {
        width: calc(100% - 5rem - 8rem);
    }
}
#contact_us_main {
    width: 40rem;
}
#contact_us_head_text {
    font-size: 2.2rem;
}
.contact_us_content {
    padding: 1rem;
    padding-left: 0;
    display: flex;
    align-items: center;
    border-bottom: var(--easy-select-color) solid 1px;
}
.contact_us_icons {
    padding: 1rem;
}
.contact_us_content_text {
    font-size: 20px;
    color: var(--contrast-color);
}
.contact_us_content_text:hover {
    color: var(--contrast-select-color);
    text-decoration: underline;
}