/*Setup*/
:root {
    --bg-color: #F1F2F2;
    --content-bg-color: #FFFFFF;
    --easy-select-color: #E6E7E8;
    --select-color: #BCBEC0;
    --text-color: #202020;
    --primary-color: #B75900;
    --primary-select-color: #f6ebdf;
    --primary-alt: #FCF8F5;
    --primary-high-select-color: #E1BD97;
    --contrast-color: #298297;
    --contrast-select-color: #185664;

    background-color: var(--bg-color);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-color);
    
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    object-fit: cover;
}

/*Header*/
header {
    background-color: var(--content-bg-color);
    width: 100%;
    display: flex;
    justify-content: center;
}
#header_content {
    width: 95rem;
}
.header_img {
    height: 3.5rem;
    padding: 1rem;
}
@media (width <= 40rem) {
    .header_img {
        height: 2rem;
    }
}

/*Main*/
main {
    background-color: var(--content-bg-color);
    width: 80rem;
    margin: 2.5rem;
    margin-top: 3.5rem;
    padding: 4rem;
}
@media (width <= 85rem) {
    main {
        width: calc(100% - 5rem - 8rem);
    }
}
@media (width <= 60rem) {
    main {
        width: calc(100% - 5rem - 2rem);
        padding: 1rem;
    }
}
@media (width <= 30rem) {
    main {
        width: calc(100% - 2rem - 2rem);
        margin: 1rem;
    }
}
#main_spliter_container {
    display: grid;
    grid-template-columns: 19rem calc(100% - 19rem);
    grid-template-rows: fit-content;
}
@media (width <= 50rem) {
    #main_spliter_container {
        grid-template-columns: 100%;
        grid-template-rows: fit-content calc(100% - 19rem);
    }
}
#main_select {
    margin-top: 6rem;
    padding-left: 0;
    width: 19rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-top: var(--primary-color) solid 0.2rem;
}
@media (width <= 50rem) {
    #main_select {
        margin-top: 1rem;
        width: 100%;
    }
}
.main_select_item {
    border-bottom: var(--easy-select-color) solid 1px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_select_item:hover {
    background-color: var(--primary-select-color);
}
.selected_main_item {
    background-color: var(--primary-high-select-color);
}
.main_select_item.selected_main_item:hover {
    background-color: var(--primary-high-select-color);
}
.main_select_text {
    font-size: 18px;
}
.main_select_arrow {
    height: 1rem;
}

#main_part {
    padding: 3rem;
    padding-right: 0;
    padding-left: 6rem;
    overflow-wrap: anywhere;
}
@media (width <= 85rem) {
    #main_part {
        padding: 3rem;
    }
}
@media (width <= 60rem) {
    #main_part {
        padding: 1rem;
    }
}
#main_part p {
    margin-bottom: 1rem;
}
#main_part h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
}
#main_part a {
    color: var(--contrast-color);
}
#main_part a:hover {
    color: var(--contrast-select-color);
    text-decoration: underline;
}
.main_image {
    margin-bottom: 1rem;
}

/*Footer*/
footer {
    background-color: var(--contrast-color);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
#footer_content {
    width: 95rem;
}
.footer_img {
    height: 3.5rem;
    padding: 1rem;
}
#footer_main {
    float: right;
    text-align: right;
    color: var(--bg-color);
    padding: 1rem;
}
#footer_main a {
    color: var(--content-bg-colorr);
}
#footer_main a:hover {
    text-decoration: underline;
}

/*Compactable Segment*/
.compactable_segment {
    border: var(--primary-color) solid 2px;
    margin-bottom: 1rem;
}
.compactable_segment_top {
    background-color: var(--primary-alt);
    border: none;
    width: 100%;
    min-height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
}
.compactable_segment_top:hover {
    text-decoration: underline;
}
.compactable_segment_top p {
    transform: translateY(25%);
}
.compactable_segment_top img {
    object-fit: contain;
}
.compactable_segment_main {
    padding: 2rem;
    padding-top: 1rem;
    display: none;
}
.compactable_segment_main ul {
    margin-bottom: 2rem;
}
.compactable_segment_main ol {
    margin-bottom: 2rem;
}
.compactable_segment_main li {
    margin-left: 2rem;
}


/*Cookies*/
#cookies {
    position: fixed;
    width: 100%;
    min-height: 5rem;
    height: fit-content;
    bottom: 0;
    left: 0;
    background-color: var(--content-bg-color);
    box-shadow: 0 0 2rem black;
    display: flex;
    overflow-y: scroll;
    z-index: 2;
    
    display: none; /*This is later reversed by js but needs to be here to prevent poping*/
}
@media (width <= 40rem) {
    #cookies {
        flex-direction: column;
    }
}
#cookies_left {
    min-width: 20rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (width <= 40rem) {
    #cookies_left {
        margin: 1rem;
        width: calc(100% - 2rem);
        height: 8rem;
        min-width: 0;
    }
}
#cookies_accept_button {
    border: none;
    background-color: var(--contrast-color);
    color: var(--content-bg-color);
    margin: 2rem;
    width: 14rem;
    height: 8rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}
@media (width <= 30rem) {
    #cookies_accept_button {
        margin: 1rem;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
    }
}
#cookies_accept_button:hover {
    background-color: var(--contrast-select-color);
    text-decoration: underline;
}
#cookies_right {
    padding: 2rem;
    border-left: var(--easy-select-color) solid 1px;
    overflow-wrap: anywhere;
}
@media (width <= 40rem) {
    #cookies_right {
        border-left: none;
        border-top: var(--easy-select-color) solid 1px;
    }
}
#cookies_right a {
    color: var(--contrast-color);
}
#cookies_right a:hover {
    color: var(--contrast-select-color);
    text-decoration: underline;
}
/*Cookies review*/
#cookies_review {
    background-color: var(--content-bg-color);
    border-top-right-radius: 1rem;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}
#cookies_review:hover {
    width: 4rem;
    height: 4rem;
}

/*Text styling*/
h1 {
    font-size: 2.75rem;
}
p {
    font-size: 1.25rem;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
li {
    font-size: 1.25rem;
}

/*Image styling*/
.image_invert {
    filter: invert(1);
}