/*contact us*/
#contact_us_main {
    width: 100%;
    margin-top: 3rem;
    overflow-wrap: anywhere;
}
@media (width <= 40rem) {
    #contact_us_main {
        width: 100%;
    }
}
#contact_us_head_text {
    font-size: 2.2rem;
}
.contact_us_content {
    padding: 1rem;
    padding-left: 0;
    display: flex;
    align-items: center;
    border-bottom: var(--easy-select-color) solid 1px;
}
.contact_us_icons {
    padding: 1rem;
}
.contact_us_content_text {
    font-size: 20px;
    color: var(--contrast-color);
}
.contact_us_content_text:hover {
    color: var(--contrast-select-color);
    text-decoration: underline;
}