/*socialmedia*/
#socialmedia_main {
    border: var(--primary-color) solid 2px;
    width: calc(100% - 2rem);
    margin-top: 0;
    padding: 1rem;
}
#socialmedia_head_text {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
#socialmedia_container {
    display: flex;
    flex-direction: column;
}
.socialmedia_content {
    background-color: var(--content-bg-color);
    font-size: 18px;
    padding: 0.6rem;
    padding-left: 2px;
    border-bottom: var(--easy-select-color) solid 1px;
    color: var(--contrast-color);
}
.socialmedia_content:hover {
    background-color: var(--primary-select-color);
    color: var(--contrast-select-color);
    text-decoration: underline;
}